body {
    background-color: #ffffff; 
    color: black;
  }

.bg-FF7171 {
  background-color: #FF7171;
}
.color-FF7171 {
  color: #FF7171;
}

.bg-78CA77 {
  background-color: #78CA77 !important;
}

.font-montserrat {
  font-family: Montserrat;
}

.text-12 {
  font-size: 12px;
}

.text-15 {
  font-size: 15px;
}

